body {
  background-image: url("kikuobg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: white;
  color: white;
  font-family: Verdana;
}